// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#menubar {

	h1 {
		font-size: 15px;
		text-align: center;
	}

	#links {
		text-align: center;
	}

}

#sidebar {
	width: 20%;
	padding: 57px 0 0 5%;

	img {
		width: 100%;
	}

	#name, #meta {
		font-family: helvetica, sans-serif;
	}

	#name {
		font-size: 25px;
		margin: 15px 0 0 0;
		line-height: 130%;
	}

	#meta {
		font-size: 15px;
		margin: 15px 0 0 0;
	}

}

#mainbar {
	width: 70%;
	float: right;

	ul {
		list-style-type: none;
	}

	li {
		float: left;
		margin: 5px;
	}

	img {
		height: 200px;
	}

}